#header {
    background-color: yellow;
    overflow: hidden;
}

body {
    background-color: orange;
}

#logo {
    alignment: left;
    float: left;
    height: 100px;
    width: 150px;
}

#headerTitle {
    float: left;
    margin-left: 30%;
}

#students {
    float: right;
    padding-right: 50px;
}

#menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*position: fixed;*/
    width: 100%;
}

.menuItem {
    background-color: yellowgreen;
    float: left;
    border-right: 1px solid #bbb;
    border-radius: 10px;
    width: 14%;
    font-size: 22px;
    cursor: pointer;
}

.contentDiv {
    display: none;
    text-align: center;
}

input, label, select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

#registerFormList {
    list-style-type: none;
}

.signupbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    padding: 16px;
}

option {
    font-size: 17px;
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
}