#header {
    background-color: black;
    overflow: hidden;
    height: 70px;
}

body {
    background-image: url(images/SoundCloud.jpg);
}

.logo {
    height: 100px;
    width: 300px;
}

#HeaderLogo {
    alignment: left;
    float: left;
    height: 100px;
}

#welcomeLogo {
    margin: 40px;
    height: 220px;
    width: 220px;
    border-radius: 70%;
}
.loginDiv{
    text-align: center;
    align-content: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
#headerTitle {
    float: left;
    margin-left: 22%;
    color: yellow;
    font-family: David;
    font-weight: bold;
    margin-top: 0;
    font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
    text-shadow: 2px 3px 3px #292929;
    letter-spacing: -1px;
    -webkit-text-stroke: 1px white;
    font-size: 60px;
    align-content: center;
}

#students {
    font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
    float: right;
    padding-right: 50px;
    font-size: 20px;
    color: yellow;

}
#loginForm{
    text-align: center;
    align-content: center;
    margin-left: 40%;
}
#loginButton{
    margin-top: 2px;
}
#menu {
    margin-top: 3px;
    padding: 15px;
    text-align: center;

    font-family: 'Myriad Pro';
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#menu {
    background: #5175C0;
}

h1 {
    color: white;
}

.menuItem {
    transition: 0.3s ease;
    background: #5175C0;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #5175C0;
    border-bottom: 4px solid #5175C0;
    padding: 10px 0;
    margin: 0 10px;
}

.menuItem:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
}

.helloDiv {
    float: right;
    horiz-align: right;
}

.contentDiv {
    display: none;
    text-align: center;
    padding-top: 0px;
}
/*
#registerDiv {
    text-align: left;
}*/

#content {
    padding-bottom: 60px;
}
/*
#signupTable {
    padding-left: 35%;
    empty-cells: show;
}*/

.birth {
    margin-left: 50px;
}

#signupForm {
    display: inline-block;
    text-align: left;
    width: 100%;
}
/*
input, label, select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
*/
.signupbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.container {
    padding: 16px;
    vertical-align: top;
}

.inputTd {
    /*width: 500px;*/
}

option {
    font-size: 17px;
}
#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e60000;
    text-align: center;
    height: 35px;
}

#welcomeDisconnect {
    display: none;
}

#menuGame {
    display: none;
}
h3{
    font-family: 'Myriad Pro';
    color: white;
    size: 15px;
    vertical-align: top;
    margin: -2px 0 0 0;

}
.button {
    border: 2px solid #0a3c59;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    padding: 15px 30px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #06426c;
    font-size: 19px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    border: 2px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    color: #fff;
}

.button:active {
    text-shadow: #1e4158 0 1px 0;
    border: 2px solid #0a3c59;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
    color: #fff;
}

#gameDiv {
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
}

#gameContent {
    min-height: 450px;
    color: white;
    width: 900px;
    float: left;
    padding-bottom: 20px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: top;
}

#gameSettings {
    float: left;
    width: 20%;
    margin-bottom: 70px;
    margin-top: 0px;
    vertical-align: top;
}

#gameContent {
    width: 80%;
    position:relative;
}

#gameScore {
    opacity: 1;
    position: absolute;
    right: 50px;
    top: 5px;
    width: 100px;
    height:150px;
}
.gameScore{
    border: dotted ghostwhite;
}

.scoreInput {
    border: none;
    height: 20px;
    width: 70px;
    background-color: white;
font-size: 16px;
    font-family: 'Myriad Pro';
    color: darkred;
    size: 15px;
}

/* #### Dark Matter #### */
.dark-matter {
    max-width: 300px;
    background: #555;
    padding: 10px 10px 10px 10px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D3D3;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.dark-matter h1 {
    padding: 0px 0px 10px 20px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -10px 10px -20px;
}
.dark-matter h1>span {
    display: block;
    font-size: 11px;
}
.dark-matter label {
    display: block;
    margin: 0px 0px 2px;
}
.dark-matter label>span {
    float: left;
    width: 40%;
    text-align: right;
    padding-right: 5px;
    margin-top: 10px;
    font-weight: bold;
}
.dark-matter input[type="number"],  .dark-matter select {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 40%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}
.dark-matter input[type="text"],.dark-matter input[type="password"]{
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;


 }
.dark-matter select {
    background: #DFDFDF no-repeat right;
    background: #DFDFDF  no-repeat right;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 40%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}
.dark-matter .buttonForm {
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

.dark-matter .buttonForm:hover {
    color: #333;
    background-color: #EBEBEB;
}